.wrapper {
  background-color:#eeeeee;
  width:100%;
  height: auto;;
}

.square {
  background-color: #cccccc;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
}

.yellow-left img {
  float:left;
  width:23%;
  margin: 5% 5% 5% 0%;
}

.text-left{
  margin-top: 5%;
}

.clear{
  clear:both;
}

.yellow-right .img {
  width:23%;
  margin: 5% 5% 5% 0%;
}

.text-right{
}